<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cities</title>
    <script asp-src-include="/lib/jquery/dist/**/*.min.js" asp-src-exclude="**.slim.**"></script>
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet"/>
</head>
<body class="m-1 p-1">
    <environment names="development">
        <script asp-src-include="/lib/jquery/dist/*.js"></script>
    </environment>
    <environment names="production">
        <script asp-src-include="/lib/jquery/dist/**/*.min.js" asp-src-exclude="**.slim.**"></script>
    </environment>
<div>
    @RenderBody()
</div>
</body>
</html>
